/* Casey Hull, August 2025 */
:root {
  --bg-color: mistyrose;
  --container-bg:  rgba(255, 250, 250, 1);
  --color-text-main: black;
  --bg-color-accent-trans: rgba(250, 210, 210, .6);
  --bg-color-accent: rgb(250, 190, 190);

  --link-color: rgb(0, 177, 171);
  --font-size: 1rem;

  --mid: 1rem;
  --half: 0.5rem;
  --quarter: 0.25rem;
  --bigger: 1.5rem;
  --double: 2.0rem;
}

/* a link */
a{
  text-decoration: none;
  color: var(--link-color)
}

br{
  line-height: 0.5;
}

/* html */
html{
  height:90%;
  font-family: Helvetica, sans-serif;

}

/* body */
body {
  box-sizing: border-box;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  white-space: pre-line;
}
.removeWhitespace{
  white-space-collapse: collapse;
}

.preserveWhitespace{
  white-space-collapse: preserve;
}

/* main */
main{
  box-sizing: border-box;
  width: 100%;
  height: auto;
  min-width: 400px;
  max-width: 1000px;
  background-color: --container-bg;
  font-size: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}

main.popup{
  min-width: 200px;
  max-width: 1000px;
  box-sizing: border-box;
  background-color: snow;
  border-radius: var(--mid);
  margin-top: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
}

.accordion{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  width: 100%;
}

.accordionTest{
  width: 100%;
}

.accordionTest input.invisible{
  opacity: 0;
  padding: 0;
  margin: 0;
  height: 0;
}

.accordionTest label.dropdown{
  width: 100%;
  padding: 0.5rem;
  border-radius: 1rem;
  max-width: 100%;
  text-align: center;
  background-color: var(--bg-color-accent);
}

.accordionTest label.dropdown:hover{
  cursor: pointer;
  background-color: var(--bg-color-accent-trans);
}

.accordionTest input:checked ~ label.dropdown {
  background-color: var(--bg-color-accent-trans);
}

.accordionTest input:checked ~ .accordion {
  
  max-height: 100rem;
}

.reader{
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;  
  width: 100%;
  padding:1rem;
  border-radius: 1rem;
  font-weight: normal;
  font-style: normal;
  font-size: normal;
  line-height: 1.5rem;
  text-indent: 2rem;
}

.reader h4{
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
}

.reader p{
  width: 90%;
  margin: auto;
  line-height: inherit;
}

.reader2 p::first-letter{
  font-weight: bold;
  font-style: oblique;
  font-size:larger;
}

button.popup{
  margin-top: 0
}

.rowMenu{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-content: center;
  align-items: flex-start;
  justify-content: center;
  border: none;
}


.rowMenu2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
}




/* table th td */
table, th, td {
  box-sizing: border-box;
  border: 1px solid var(--bg-color-accent);
  border-collapse: collapse;
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
}

/* table td */
td{
  min-width: 5rem;
  white-space-collapse: collapse;
}

/* table tr */
tr{
  height: 2rem;
}


.visible{
  visibility: hidden;
}

.center{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 0.25rem;
}

.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
}


.right{
  justify-content:end;
}

.container{
  width: 100%;
  min-width: 400px;
  max-width: 1000px;
  box-sizing: border-box;
  background-color: snow;
  border-radius: var(--mid);
  margin: var(--half);
  padding-left: var(--mid);
  padding-right: var(--mid);
  padding-top: var(--half);
  padding-bottom: var(--half);
}

.padded{
  padding-left: var(--mid);
  padding-right: var(--mid);
}

.transparent{
  background-color: rgba(250, 210, 210, .6);
}

.mainTitle {
  color: mediumpurple;
}

.filler{
  font-style: italic;
}

/* header */
h1,h2,h3{
  margin: 0rem;
}

/* h header */
h1{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 56px;
}
/* h header */
h2, h3, h4{
  margin: var(--quarter);
}
/* h header */
h4{
  font-weight: lighter;
  font-style: italic;
}
/* h header */
h3{
  font-weight: lighter;
}

/* p paragraph */
p{
  margin: 0.05rem;
  line-height: var(--bigger);
}

/* p paragraph */
p.center{
  text-align: center;
}

p.restrictWidth{
  width: 75%;
  max-width: 500px;
}


/* input label */
input, label{
  width: 50%;
  max-width: 30rem;
  min-width: 1rem;
  padding-left: var(--quarter);
}

/* select */
select{
  min-width: 8rem;
  text-align: center;
  outline-color: rgba(250, 210, 210, 1);
}

.otherInput{
  height: auto;
  width: auto;
}

.radio{
  margin-left: 0.5rem;
  padding: 0;
  text-align: left;
}

/* label */
label{
  font-size: 1rem;
  font-style: normal;
}

/* label */
label.normal{
  font-size: 1rem;
  font-style: normal;
}

/* input */
input:focus{
   outline: none;
   outline-color: rgba(250, 210, 210, 1);
   box-shadow: 0 0 0.5rem  rgba(250, 210, 210, 1);
    border-color: rgba(250, 210, 210, 1);
}

/* textarea */
textarea{
  text-wrap: wrap;
}

.textEntry{
  width: 100%;
  height: 2.5rem;
  align-content: center;
}

.displayNumber{
  width: 100%;
  height: 2.5rem;
  align-content: center;
  text-align: end;
}

.math{
  height: 2.5rem;
  text-align: center;
  padding: var(--quarter);
  line-height: 75%;
}

/* input textarea */
input, textarea{
  box-sizing: border-box;
  resize: none;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(250, 210, 210, .6);
  color: var(--color-text-main);
  font-family: Arial, Helvetica, sans-serif;
  margin: var(--half);
  padding: var(--half);
  border-radius: var(--half);
}

/* textarea */
textarea.textEditor{
  width: 75%;
  max-width: 750px;
  min-height: 8rem;
  resize: vertical;
}

textarea:focus{
  outline-color: rgba(250, 210, 210, 1);
  box-shadow: 0 0 0.5rem  rgba(250, 210, 210, 1);
}

/* button */
button{
  padding: var(--half);
  margin: var(--half);
  border-radius: var(--half);
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(250, 210, 210, .6);
}

.genericForm{
  width: 100%;
  height: 2.5rem;
  align-content: center;
  text-align: center;
}

.studyHall td{
  min-width: 6rem
}

.studyHall th{
  background-color: var(--bg-color-accent);
}

.grey{
  background-color: gainsboro;
}

.monospace{
  font-family: 'Courier New', Courier, monospace;
  line-height: 125%;
}

/* button */
button{
  cursor: pointer;
}



.btnImg{
  box-sizing: border-box;
  display: block;
  padding: var(--half);
  margin: var(--half);
  padding: auto;
  height: 75%;
  width: 75%;
}

.floating{
  position:fixed;
  background-color: var(--bg-color-accent);
  top: 1.5rem;
  left: 1rem;
  height: 3rem;
  width: 3rem;
	border-radius:2rem;
	box-shadow: 2px 2px 3px #999;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.float{
  position:fixed;
  background-color: var(--bg-color-accent);
  top: 1.5rem;
  left: 1rem;
  height: 3rem;
  width: 3rem;
	border-radius:2rem;
	box-shadow: 2px 2px 3px #999;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

